body{
    background-color: #c6c6c6;
}

p{
    margin-left: 5px;
    font-size: 12px;
}

.wrap{
    background-color: white;
    width: 375px;
    height: 100vh;
    margin: 0 auto;
    /* vh 우리 브라우저에서 확인할 수 있는 전체 */

    display: flex;
    align-items: center;
}

.instagram{
    width: 100%;
    height: 550px;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows:50px 375px 1fr;
    grid-template-areas: 
    "header"
    "img"
    "footer";

}

.header{
    grid-area: header;
    width: auto;
    height: auto;
    margin : 5px 10px;
}

.header-left{
    float: left;
    display: flex;
    align-items: center;
}

.header-right{
    font-size: 12px;
    float: right;
    display: flex;
    align-items: center;
    height: 100%;
}

.header-img{
    height: 40px;
    border-radius: 50%;
    border: 1px solid #c6c6c6;
    margin-right: 10px;
}

.img{
    grid-area: img;
    width: 100%;
    height: 100%;
}

.footer{
    grid-area: footer;
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:50px auto auto;
    grid-template-areas: 
    "top-left top-center top-right"
    "like like like "
    "comment comment comment";
}

.top-left{
    grid-area: top-left;

    font-size: 10px;
    display: flex;
    width: 80%;
    height: 100%;
    justify-content :space-around;
    align-items: center;
    margin-left: 4px;
}

span:hover{
    color: greenyellow;
}



/* .top-left span:hover{
    color: greenyellow;

    /*nth-of-type(1):hover 첫번째값만*/



#fill-heart{
    display: none;
    color: greenyellow;
}

#fill-bookmark{
    display: none;
    color: greenyellow;
}

#ig-id{
    font-size: 12px;
}
.top-right{
    grid-area: top-right;

    font-size: 10px;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    margin-left: 80px;
}


.top-center{
    grid-area: top-center;

    display: flex;
    width: 100%;
    height: 100%;
    justify-content :center;
    align-items: center;
}

li{
    width: 7px;
    height: 7px;
    background-color: lightgrey;
    border-radius: 50%;
}

ul{
    padding:  0;
    display: flex;
    width: 50%;
    list-style: none;
    justify-content :space-between;
}

.like{
    grid-area: like;
    font-size: 12px;
    margin-left: 10px;
}

.comment{
    grid-area: comment;
    font-size: 10px;
    margin-left: 6px;
}